<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bg</key>
	<string>stage1_bg.mp3</string>
	<key>fx_haha</key>
	<string>stage1_ef1.mp3</string>
	<key>fx_hoho</key>
	<string>stage1_ef2.mp3</string>
	<key>loop_bg</key>
	<true/>
</dict>
</plist>
